body {
    background-color: rgb(12, 15, 18);
    color: #ecf2f7;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-appearance: none;

}

body::-webkit-scrollbar {
    display: none;
  }

.header {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    display:flex;
    flex-direction:row-reverse;
    background-color: transparent;

}

#currentPage {
    color: rgb(76, 252, 76);
}

#currentPage:hover {
    color: rgba(76, 252, 76, 0.406);
}

.navbar {
    display: flex;
    background-color: rgb(12, 15, 18);
    position: fixed;  
    margin: 0;   
    /* margin-left: 20px;
    margin-right: 20px; */
    top: 0;    
    width: 100%;
    list-style-type: none;
    justify-content:space-between;
    overflow: hidden;

}

.navbarLeft {
    display: flex;
    padding: 10px;
    padding-left: calc(3% + 5px) ;
    padding-right: calc(3% + 5px) ;    
    /* padding-left: 40px; */
    /* TOOK OFF PADDING AND DECREASED SIZE */
}

.navbarRight {
    padding: 10px;
    padding-left: 3%;
    padding-right: calc(3% + 5px) ;
}

.dropdown-content {
    background-color: rgb(12, 15, 18);
    position: fixed;
    left: 0;
    margin-right: 10px;
    margin-left: calc(3% + 5px) ;
    margin-top: 53px;
    list-style-type: none;
    border: 2px solid #ecf2f7;
    border-radius: 15px;
    padding: .25%;
    padding-left: 0;
    padding-right: 0;

}

.link {
    background-color: rgb(12, 15, 18);
    color:#ecf2f7;
    border: none;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;

}
.link:hover {
    color: #ecf2f76f;
}

#dropbtn {
    background-color: rgb(12, 15, 18);
    color:#ecf2f7;
    border: none;
    font-size: 25px !important; 
    font-weight: bold;  
    padding-right: 3%;


}

#dropbtn:hover {
    color: #ecf2f76f;
}

#me {
    padding-left: 3%;
    color: rgb(76, 252, 76);
    white-space: nowrap;
    font-size: 25px !important;
}

#me:hover {
    color: rgba(76, 252, 76, 0.406);
}

#terminalButton {
    border-radius: 10px;
    border: 1px solid #747474;
    background-color: black;   
    color: rgb(76, 252, 76);
    font-size: 25px !important;
    font-weight: 400; 
    padding: 2px;
}

#terminalButton:hover {
    color: rgba(76, 252, 76, 0.406);
}


.content {
    margin: calc(5px + 1%);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.terminalBox {
    display: flex;
    resize: both;
    overflow: auto;
    background-color: transparent;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 65px;
    direction: rtl;
    resize: both;

}

#terminal {
    background-color: black;    
    color: rgb(76, 252, 76);
    font-size: 20px;
    border-radius: 15px;
    resize:none;
    direction: ltr;
    flex: 1;
    border: 1px solid #747474;
    /* Hide scrollbar IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide Chrome, Safari, and Opera */
#terminal::-webkit-scrollbar {
    display:none;
}

#terminal:focus {
    outline-color: transparent;
    outline-style: none;
  }

.window { 
    border-radius: 15px;
    padding: 15px;
    margin: calc(5px + 1%);
    background-color: rgb(24, 26, 28);
}

.breakingCols {
    display: flex;
    flex-wrap: wrap;
}

.breakingCols .window {
    width: 300px;
    flex-grow: 1;
}


.progressBar .bar{
    background-color: rgb(12, 15, 18);
    flex: 1;
    height: 20px;
}

.progressBar .percent{
    background-color: rgba(76, 252, 76, 0.507);
    flex: 1;
    height: 20px;
}


h1 {
    margin: 0;
    padding: 0;
}

img {
    max-width:100%;
    height:auto;
    margin: 0;
}

.defaultButton {
    border: 2px solid #ecf2f7;
    font-weight:400;
    border-radius: 15px;
    padding:10px;
    background-color: rgb(12, 15, 18);
    color:#ecf2f7;
    font-size: 25px;
    border-radius: 15px;
}

.defaultButton:hover {
    color: #ecf2f76f;
}

.imgMax {
    max-width:200px; 
    border-radius:15px;
}

.imgMaxBorderNorm {
    max-width:200px; 
}

.imgMaxSmall {
    max-width:100px; 
    border-radius:15px;
}

r {
    color: rgb(250, 40, 60);     
}

o {
    color: rgb(252, 141, 62);  
}

bl {
    color: #044fff; 
}

gr {
    color: rgb(76, 252, 76);
}

gre {
    color: #ecf2f7b2;
    font-weight: 500;
}

.redLink:link {
    color: rgb(250, 40, 60);
  }
  
  /* visited link */
  .redLink:visited {
    color: rgb(250, 40, 60);
  }
  
  /* mouse over link */
  .redLink:hover {
    color: rgba(250, 40, 61, 0.532);
  }
  
  /* selected link */
  .redLink:active {
    color: rgba(250, 40, 61, 0.532);
  }

/* ------------------------------- */

/* unvisited link */
.greenLink:link {
    color: rgb(76, 252, 76);;
  }
  
  /* visited link */
  .greenLink:visited {
    color: rgb(76, 252, 76);
  }
  
  /* mouse over link */
  .greenLink:hover {
    color: rgba(76, 252, 76, 0.406);
  }
  
  /* selected link */
  .greenLink:active {
    color: rgba(76, 252, 76, 0.406);
  }
/* ------------------------------------------ */
  a:link {
    color: #ecf2f7;
  }
  
  /* visited link */
  a:visited {
    color: #ecf2f7;
  }
  
  /* mouse over link */
  a:hover {
    color: #ecf2f76f;;
  }
  
  /* selected link */
  a:active {
    color: #ecf2f76f;;
  }
